<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-6 col-12 main_header_left align-items-center">
                 <p>Welcome to the Vinit Weather World!!</p>
                 <h1>{{errMsg}}</h1>
                 <a href="/"><button style="border-radius: 2rem; background-color:aliceblue; box-shadow: 0 8px 6px -3px #000;border: none;padding: 0.6rem 1.2rem;font-size: 1rem;" >Go back</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
</body>
</html>