<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="Images/about1.png" alt="Vinit" class="img-fluid" title="Vinit Pundeer">
                </figure>
              </div>
              <!-- right side div -->
              <div class="col-md-6 col-12 main_header_left">
                 <p>Welcome to the Weather App</p>
                 <h1>I am a<span class="txt_clr"> Frontend Developer</span> and currently doing DSA and MERN Stack.</h1>
                 <a href="https://vinit-pundeer-portfolio.netlify.app/" target="_vinit"><button>About Me</button></a>
              </div>

            </div>
          </div>
      </div>
    </div>
    <!-- Footer div -->
    {{>footer}}
</body>
</html>